<h1>Fale Conosco</h1>

<% if @contato.errors.any? %>
<pre class="alert alert-danger">
  <% for message in @contato.errors.full_messages %>
    <%= message %>
  <% end %>
</pre>
<% end %>

<div class="row">
    <div class="col-md-6">
        <%= form_tag do %>
          <div class="form-group">
            <label>Nome:</label>
            <input type="text" name="contato[nome]" class="form-control">
          </div>

          <div class="form-group">
            <label>Email:</label>
            <input type="email" name="contato[email]" class="form-control">
          </div>

          <div class="form-group">
            <label>Mensagem:</label>
            <textarea name="contato[mensagem]" class="form-control" rows="4"></textarea>
          </div>

          <input type="submit" class="btn btn-primary pull-right" value="Enviar">
        <% end %>
    </div>

    <div class="col-md-6 col-xs-12 text-right well">
      <h5>Entre em contato pelo formulário ao lado, ou pelo endereço abaixo:</h5>
      <address>
        R. Prof. Itamar Orlando Soares, 161

      </address>
    </div>
</div><!-- .row -->
