<div class="row">
    <div class="alert alert-success col-sm-4 col-sm-push-4 text-center">
      <strong>Parabéns!</strong> Contato Enviado com Sucesso!
    </div>
</div>

<%= debug params[:contato] %>
