<% if flash.any? %>
    <div class="row">
      <% flash.each do |name, msg| -%>
          <div class="col-sm-6 col-sm-push-3 text-center alert alert-<%= name %>">
            <%= msg %>
          </div>
      <% end -%>
    </div>
<% end -%>